@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<div class="card text-bg-light shadow-sm rounded-4 mb-4 p-3 position-relative h-100"
     style="width: 100%; min-height: 300px; max-height: 300px;">
    <div class="card-header bg-transparent border-bottom-0 d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
            <a class="btn btn-outline-secondary btn-sm me-2" href="@JokeUrl(Joke.JokeId)" title="Edit">
                <i class="bi bi-pencil"></i>
            </a>
            <button class="btn btn-outline-danger btn-sm me-2" data-bs-toggle="modal" data-bs-target="#modal_@Joke.JokeId" title="Delete">
                <i class="bi bi-trash"></i>
            </button>
        </div>
    </div>

    <!-- Modal -->
    <DeleteJoke Joke="@Joke"></DeleteJoke>

    <div class="card-body d-flex flex-column justify-content-center align-items-center text-center pb-5">
        <p class="card-text text-secondary">@Joke.Text</p>
    </div>

    <div class="position-absolute bottom-0 end-0 p-3">
        <div class="position-relative">
            <button class="btn btn-outline-secondary rounded-circle shadow-sm"
                    data-bs-toggle="collapse"
                    data-bs-target="#addNewCommentToJoke_@Joke.JokeId" 
                    aria-expanded="false" 
                    aria-controls="collapseExample">
                <i class="bi bi-plus-circle-dotted"></i>
            </button>

            
            <button class="btn btn-outline-secondary rounded-circle shadow-sm"
                    data-bs-toggle="collapse"
                    data-bs-target="#commentCollapseToJoke_@Joke.JokeId" 
                    aria-expanded="false" 
                    aria-controls="collapseExample">
                <i class="bi bi-chat"></i>
            </button>

            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                @Joke.Comments.Count
            </span>
        </div>
    </div>
</div>

<div data-bs-spy="scroll" 
     data-bs-target="#" 
     data-bs-root-margin="0px 0px -40%" 
     data-bs-smooth-scroll="true" 
     class="scrollspy-example bg-body-light p-3 rounded-2"
     tabindex="0"
     style="max-height: 400px; overflow-y: auto;">
     
    @foreach(var comment in Joke.Comments)
    {
        <CommentCard Comment="@comment"></CommentCard>
    }
</div>

<NewCommentForm JokeId="@Joke.JokeId"></NewCommentForm>


@code {

    [Parameter]
    public JokeDTO Joke {get; set;}

    private static string JokeUrl(int id) => $"/editJoke/{id}";

}
