@page "/"
@inject JokesClient jokesClient
@inject CommentClient commentClient

<PageTitle>Home</PageTitle>

<div class="m-4">
    <a class="btn btn-primary" role="button" href="/editJoke">New Joke</a>
</div>

@if(jokes == null){
    <p><em>Loading....</em></p>
}
else{
    <table class="table table-striped-columns table-bordered table-hover">
        <thead class="table-dark">
            <th>ID</th>
            <th>Title</th>
            <th>Content</th>
            <th>Created</th>
            <th>Comments</th>
            <th>

            </th>
        </thead>
        <tbody>
            @foreach (var joke in jokes){
                <tr>
                    <td>@joke.Id</td>
                    <td>@joke.Title</td>
                    <td>@joke.Content</td>
                    <td>@joke.CreatedAt.ToString("dd.MM.yyyy")</td>
                    <td>
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                           @joke.Comments.Count
                        </button>
                        <ul class="dropdown-menu">
                            @foreach(var comment in joke.Comments){
                                <li><a class="dropdown-item" href="#">@comment.Title</a></li>
                            }
                        </ul>
                    </td>
                    <td>

                    </td>
                </tr>
            }
        </tbody>
    </table>

    @code {
        private Joke[]? jokes;
        private Comment[]? comments;
        protected override void OnInitialized(){

            jokes = jokesClient.GetJokes();
            comments = commentClient.GetComments();
            foreach (var joke in jokes){
                foreach(var comment in comments){
                    if(comment.JokeID == joke.Id){
                        joke.Comments.Add(comment);
                    }
                }
            }
        }
    }    
}